In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r'D:\MLOPS\End-To-End-MlOps-Project\artifacts\data_ingestion\data\Job_Placement_Data.csv')

In [3]:
df.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   ssc_percentage       215 non-null    float64
 2   ssc_board            215 non-null    object
 3   hsc_percentage       215 non-null    float64
 4   hsc_board            215 non-null    object
 5   hsc_subject          215 non-null    object
 6   degree_percentage    215 non-null    float64
 7   undergrad_degree     215 non-null    object
 8   work_experience      215 non-null    object
 9   emp_test_percentage  215 non-null    float64
 10  specialisation       215 non-null    object
 11  mba_percent          215 non-null    float64
 12  status               215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

In [5]:
df.isnull().sum()

gender                 0
ssc_percentage         0
ssc_board              0
hsc_percentage         0
hsc_board              0
hsc_subject            0
degree_percentage      0
undergrad_degree       0
work_experience        0
emp_test_percentage    0
specialisation         0
mba_percent            0
status                 0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.nunique()

gender                   2
ssc_percentage         103
ssc_board                2
hsc_percentage          97
hsc_board                2
hsc_subject              3
degree_percentage       89
undergrad_degree         3
work_experience          2
emp_test_percentage    100
specialisation           2
mba_percent            205
status                   2
dtype: int64

In [9]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(f'No of unique values in {col} is: {df[col].nunique()}')
        print()
        print(df[col].value_counts())
        print('=' * 120)

No of unique values in gender is: 2

gender
M    139
F     76
Name: count, dtype: int64
========================================================================================================================
No of unique values in ssc_board is: 2

ssc_board
Central    116
Others      99
Name: count, dtype: int64
========================================================================================================================
No of unique values in hsc_board is: 2

hsc_board
Others     131
Central     84
Name: count, dtype: int64
========================================================================================================================
No of unique values in hsc_subject is: 3

hsc_subject
Commerce    113
Science      91
Arts         11
Name: count, dtype: int64
========================================================================================================================
No of unique values in undergrad_degree is: 3

undergrad_degree
Comm&Mgmt    145
Sci&Tech      59
Others        11
Name: count, dtype: int64
========================================================================================================================
No of unique values in work_experience is: 2

work_experience
No     141
Yes     74
Name: count, dtype: int64
========================================================================================================================
No of unique values in specialisation is: 2

specialisation
Mkt&Fin    120
Mkt&HR      95
Name: count, dtype: int64
========================================================================================================================
No of unique values in status is: 2

status
Placed        148
Not Placed     67
Name: count, dtype: int64
========================================================================================================================

In [10]:
round(df.describe(include='object'),2).T

                 count unique        top freq
gender             215      2          M  139
ssc_board          215      2    Central  116
hsc_board          215      2     Others  131
hsc_subject        215      3   Commerce  113
undergrad_degree   215      3  Comm&Mgmt  145
work_experience    215      2         No  141
specialisation     215      2    Mkt&Fin  120
status             215      2     Placed  148

In [11]:
round(df.describe(),2).T

                     count   mean    std    min    25%   50%    75%    max
ssc_percentage       215.0  67.30  10.83  40.89  60.60  67.0  75.70  89.40
hsc_percentage       215.0  66.33  10.90  37.00  60.90  65.0  73.00  97.70
degree_percentage    215.0  66.37   7.36  50.00  61.00  66.0  72.00  91.00
emp_test_percentage  215.0  72.10  13.28  50.00  60.00  71.0  83.50  98.00
mba_percent          215.0  62.28   5.83  51.21  57.94  62.0  66.26  77.89

In [12]:
df.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [16]:
df.columns

Index(['gender', 'ssc_percentage', 'ssc_board', 'hsc_percentage', 'hsc_board',
       'hsc_subject', 'degree_percentage', 'undergrad_degree',
       'work_experience', 'emp_test_percentage', 'specialisation',
       'mba_percent', 'status'],
      dtype='object')

In [17]:
df.shape

(215, 13)

In [18]:
x=df.drop('status',axis=1)
y=df['status']

In [19]:
cate_cols=x.select_dtypes(include='object')

In [20]:
cate_cols

,gender,ssc_board,hsc_board,hsc_subject,undergrad_degree,work_experience,specialisation
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin
...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR

In [21]:
cate_cols

,gender,ssc_board,hsc_board,hsc_subject,undergrad_degree,work_experience,specialisation
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin
...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR

In [22]:
num_col=x.select_dtypes(exclude='object')

In [23]:
num_col

,ssc_percentage,hsc_percentage,degree_percentage,emp_test_percentage,mba_percent
0,67.00,91.00,58.00,55.0,58.80
1,79.33,78.33,77.48,86.5,66.28
2,65.00,68.00,64.00,75.0,57.80
3,56.00,52.00,52.00,66.0,59.43
4,85.80,73.60,73.30,96.8,55.50
...,...,...,...,...,...
210,80.60,82.00,77.60,91.0,74.49
211,58.00,60.00,72.00,74.0,53.62
212,67.00,67.00,73.00,59.0,69.72
213,74.00,66.00,58.00,70.0,60.23
214,62.00,58.00,53.00,89.0,60.22

In [24]:
cate_cols

,gender,ssc_board,hsc_board,hsc_subject,undergrad_degree,work_experience,specialisation
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin
...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR

In [34]:
for col in x.columns:
    if df[col].dtype == 'object':
        print(f'No of unique values in {col} is: {df[col].nunique()}')
        print()
        print(df[col].value_counts())
        print('=' * 120)

No of unique values in gender is: 2

gender
M    139
F     76
Name: count, dtype: int64
========================================================================================================================
No of unique values in ssc_board is: 2

ssc_board
Central    116
Others      99
Name: count, dtype: int64
========================================================================================================================
No of unique values in hsc_board is: 2

hsc_board
Others     131
Central     84
Name: count, dtype: int64
========================================================================================================================
No of unique values in hsc_subject is: 3

hsc_subject
Commerce    113
Science      91
Arts         11
Name: count, dtype: int64
========================================================================================================================
No of unique values in undergrad_degree is: 3

undergrad_degree
Comm&Mgmt    145
Sci&Tech      59
Others        11
Name: count, dtype: int64
========================================================================================================================
No of unique values in work_experience is: 2

work_experience
No     141
Yes     74
Name: count, dtype: int64
========================================================================================================================
No of unique values in specialisation is: 2

specialisation
Mkt&Fin    120
Mkt&HR      95
Name: count, dtype: int64
========================================================================================================================

In [28]:
cate_cols['gender'].unique()

array(['M', 'F'], dtype=object)

In [29]:
gender_cate=['M', 'F']

In [33]:
ssc_board_cate=['Others', 'Central']

In [35]:
hsc_board_cate=ssc_board_cate.copy()
hsc_board_cate

['Others', 'Central']

In [39]:
hsc_subject_cate=['Commerce', 'Science', 'Arts']
hsc_subject_cate

['Commerce', 'Science', 'Arts']

In [41]:
undergrad_degree_cate=['Sci&Tech', 'Comm&Mgmt', 'Others']
undergrad_degree_cate

['Sci&Tech', 'Comm&Mgmt', 'Others']

In [42]:
work_experience_cate=['No','Yes']

In [44]:
specialisation_cate=['Mkt&HR', 'Mkt&Fin']
specialisation_cate

['Mkt&HR', 'Mkt&Fin']

In [46]:
y.value_counts()

status
Placed        148
Not Placed     67
Name: count, dtype: int64

In [49]:
y.isnull().sum()

0

In [51]:
y=y.map({'Placed':1,'Not Placed':0})

In [52]:
y

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler,OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.26,random_state=50)

In [55]:
cate_cols

,gender,ssc_board,hsc_board,hsc_subject,undergrad_degree,work_experience,specialisation
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin
...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR

In [74]:
cate_cols=['gender', 'ssc_board', 'hsc_board', 'hsc_subject', 'undergrad_degree',
       'work_experience', 'specialisation']

In [76]:
num_col=['ssc_percentage', 'hsc_percentage', 'degree_percentage',
       'emp_test_percentage', 'mba_percent']

In [77]:
gender_cate = ['M', 'F']
ssc_board_cate = ['Central', 'Others']
hsc_board_cate = ['Others', 'Central']
hsc_subject_cate = ['Commerce', 'Science', 'Arts']
undergrad_degree_cate = ['Comm&Mgmt', 'Sci&Tech', 'Others']
work_experience_cate = ['No', 'Yes']
specialisation_cate = ['Mkt&Fin', 'Mkt&HR']

In [78]:
num_col_pipline=Pipeline(
   steps=[
      ('Impute',SimpleImputer(strategy='mean')),
      ('scaling',RobustScaler())
	]
)

cate_cols_pipline = Pipeline(
   steps=[
       ('Impute', SimpleImputer(strategy='most_frequent')),
       ('encoding', OneHotEncoder(categories=[
           gender_cate, ssc_board_cate, hsc_board_cate, hsc_subject_cate,
           undergrad_degree_cate, work_experience_cate, specialisation_cate
       ], handle_unknown='ignore'))
   ]
)

In [79]:
preprocess=ColumnTransformer([
    ('num_col_pipline',num_col_pipline,num_col),
    ('cate_cols_pipline',cate_cols_pipline,cate_cols)
])

In [80]:
preprocess

ColumnTransformer(transformers=[('num_col_pipline',
                                 Pipeline(steps=[('Impute', SimpleImputer()),
                                                 ('scaling', RobustScaler())]),
                                 ['ssc_percentage', 'hsc_percentage',
                                  'degree_percentage', 'emp_test_percentage',
                                  'mba_percent']),
                                ('cate_cols_pipline',
                                 Pipeline(steps=[('Impute',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('encoding',
                                                  OneHotEncoder(categories=[['M',
                                                                             'F'],
                                                                            ['Central',
                                                                             'Others'],
                                                                            ['Others',
                                                                             'Central'],
                                                                            ['Commerce',
                                                                             'Science',
                                                                             'Arts'],
                                                                            ['Comm&Mgmt',
                                                                             'Sci&Tech',
                                                                             'Others'],
                                                                            ['No',
                                                                             'Yes'],
                                                                            ['Mkt&Fin',
                                                                             'Mkt&HR']],
                                                                handle_unknown='ignore'))]),
                                 ['gender', 'ssc_board', 'hsc_board',
                                  'hsc_subject', 'undergrad_degree',
                                  'work_experience', 'specialisation'])])

In [81]:
preprocess.fit_transform(x_train)

array([[ 1.08661906,  0.        ,  0.24      , ...,  0.        ,
         1.        ,  0.        ],
       [-0.12418504,  0.5717102 ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.39739211, -0.36471168,  1.9       , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-1.0555728 , -0.11828487,  0.        , ...,  1.        ,
         0.        ,  1.        ],
       [ 0.49674014,  0.5717102 , -0.6       , ...,  1.        ,
         1.        ,  0.        ],
       [-0.62092518, -0.41399704, -0.9       , ...,  0.        ,
         0.        ,  1.        ]])

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for i in cate_cols:
   cate_cols[i]=le.fit_transform(cate_cols[i])

In [ ]:
cate_cols

,continent,education_of_employee,has_job_experience,requires_job_training,region_of_employment,unit_of_wage,full_time_position
0,1,2,0,0,4,0,1
1,1,3,1,0,2,3,1
2,1,0,0,1,4,3,1
3,1,0,0,0,4,3,1
4,0,3,1,0,3,3,1
...,...,...,...,...,...,...,...
25475,1,0,1,1,3,3,1
25476,1,2,1,0,2,3,1
25477,1,3,1,0,3,3,0
25478,1,3,1,1,4,3,1
25479,1,0,1,0,1,3,1

In [ ]:
OneHotEncoder().fit_transform(cate_cols)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 178360 stored elements and shape (25480, 25)>

In [ ]:
pd.get_dummies(x)

,no_of_employees,yr_of_estab,prevailing_wage,continent_Africa,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_South America,education_of_employee_Bachelor's,...,region_of_employment_Midwest,region_of_employment_Northeast,region_of_employment_South,region_of_employment_West,unit_of_wage_Hour,unit_of_wage_Month,unit_of_wage_Week,unit_of_wage_Year,full_time_position_N,full_time_position_Y
0,14513,2007,592.2029,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
1,2412,2002,83425.6500,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,True
2,44444,2008,122996.8600,False,True,False,False,False,False,True,...,False,False,False,True,False,False,False,True,False,True
3,98,1897,83434.0300,False,True,False,False,False,False,True,...,False,False,False,True,False,False,False,True,False,True
4,1082,2005,149907.3900,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,2601,2008,77092.5700,False,True,False,False,False,False,True,...,False,False,True,False,False,False,False,True,False,True
25476,3274,2006,279174.7900,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,True
25477,1121,1910,146298.8500,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,False
25478,1918,1887,86154.7700,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,True
25479,3195,1960,70876.9100,False,True,False,False,False,False,True,...,True,False,False,False,False,False,False,True,False,True